@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-8">
        <h2>Bienvenido al Sistema</h2>
        <p>
            Para operar el sistema seleccione las opciones disponibles en la barra de menu principal.
        </p>        
    </div>

</div>



